{% extends 'web/base.html' %}
{% load filters %} {# the name of the filters.py file#}
{% load tags %}{# the name of the tags.py file#}
{% block page_title %} {{ title }}{% endblock %}
{% block page_content %}
    <h1>{{ body }}</h1>
    <h2>{{ randnum }}</h2>
    <h2>random word generated: {{ randomlist|random|add:" --> extra words added" }}</h2>
    <h3>{{ title|upper|truncatechars:10 }}</h3>
    <h3>{{ hello_func|lower|truncatewords:2 }}</h3>
    <h3>joined list: {{ randomlist|join:", " }}</h3>
    {% lorem %}
    It is {% now "jS F Y H:i" %}
    <p>list of students:</p>
    {% if students %}
        Count: {{ students|length }} <br>
        {{ students|join:", " }}
    {% elif teachers %}
        <ul>
            {% for teacher in teachers %}
                <li>{{ teacher }}</li>
            {% endfor %}
        </ul>
    {% else %}
        No students or teachers
    {% endif %}
    <p>custom filter for odd: {{ values|odd|join:", " }}</p>
    <p>original values: {{ values|join:", " }}</p>
    <p>Stars filter: {{ body|starify }}</p>
    <a href="https://github.com/">Github</a>
{% endblock %}
