{% load filters %} {# the name of the filters.py file#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'google search' %}">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>

        </ul>
    </div>
</nav>
<h1>{{ body }}</h1>
<h2>{{ randnum }}</h2>
<h2>random word generated: {{ randomlist|random|add:" --> extra words added" }}</h2>
<h3>{{ title|upper|truncatechars:10 }}</h3>
<h3>{{ hello_func|lower|truncatewords:2 }}</h3>
<h3>joined list: {{ randomlist|join:", " }}</h3>
{% lorem %}
It is {% now "jS F Y H:i" %}
<p>list of students:</p>
{% if students %}
    Count: {{ students|length }} <br>
    {{ students|join:", " }}
{% elif teachers %}
    <ul>
        {% for teacher in teachers %}
            <li>{{ teacher }}</li>
        {% endfor %}
    </ul>

{% else %}
    No students or teachers
{% endif %}
<p>custom filter for odd: {{values|odd|join:", "}}</p>
<p>original values: {{values|join:", "}}</p>
<p>Stars filter: {{ body|starify }}</p>
</body>
</html>