{% extends 'base/base.html' %}
{% load static %}

{% block page_content %}

    <div class="container">
        <div class="col-9">

            <!-- Start Searchbar Form -->
            <form class="searchbar" method="GET" action="{% url 'index' %}">
                {{ search_form }}
                <button>
                    <img src="{% static 'images/search.png' %}" height="18" alt="img2">
                </button>
                {% csrf_token %}
            </form>
            <!-- End Searchbar Form -->

            <!-- Start Pet Photos Post Section -->
            <!-- Start First Pet Photo Post -->
            {% if photos %}
                {% for photo in photos %}

                    {% include 'base/partials/photo-item.html' with photo=photo %}

                {% endfor %}
                {% else %}
                <div class="footer">
                    <h2>No photos found!</h2>
                </div>

            {% endif %}


            <!-- End Pet Photos Post Section -->

        </div>
    </div>
{% endblock %}